<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>

  <div class="products-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/" >Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="restaurant-menu-frame">
      <div class="board">
        <div class="dishes-table">
          <span class="new-dish-txt" style="margin-bottom: 30px">
            ALL PRODUCTS
          </span>

           <!-- NEW BLOCK START -->
            <form action="http://localhost:3077/admin/product/all" method="POST" class="searh-form" style="display: flex; gap: 10px; align-items: center; margin-left: 1050px; margin-bottom: 15px;">
              <input
                type="text"
                name="search"
                placeholder="Type here..." 
                style="padding: 5px; border: 1px solid #ccc; border-radius: 4px; outline: none;"
              />
              <button type="submit" style="padding: 5px 10px; border: none; background-color: #007bff; color: white; border-radius: 4px; cursor: pointer;">
                Search
              </button>
            </form>
          
          <!-- NEW BLOCK END -->



          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Product Name</th>
                <th scope="col">Product Type</th>
                <th scope="col">Product Usage</th>
                <th scope="col">Product Resolution</th>
                <th scope="col">Product Connectivity</th>
                <th scope="col">Product Power</th>
                <th scope="col">Product Storage</th>
                <th scope="col">Product Extra</th>
                <th scope="col">Product Price</th>
                <th scope="col">Product Left Count</th>
                <th scope="col">Status</th>
              </tr>
            </thead>

            <% products.map(function(value, key ) { %>
            <tbody style="background: white">
              <td><%= key + 1 %></td>
              <td><%= value.productName %></td>
              <td><%= value.productCollection %></td>
              <td>
                <%= value.productCollection === 'HDCVI_CAMERAS' ? value.productUsage :
                value.productEnvironment %>
              </td>
              <td><%= value.productResolution %></td>
              <td><%= value.productConnectivity %></td>
              <td><%= value.productPowerSource %></td>
              <td><%= value.productStorage %></td>
              <td><%= value.productExtraFeatures %></td>
              <td><%= value.productPrice %></td>
              <td><%= value.productLeftCount %></td>
              <td>
                <select
                  class="spec-select new-product-status"
                  id="<%= value._id %>"
                >
                  <option value="PAUSE" <%= value.productStatus === 'PAUSE' ? 'selected' : '' %> >PAUSE</option>
                  <option value="PROCESS"  <%= value.productStatus === 'PROCESS' ? 'selected' : '' %> >PROCESS</option>
                  <option value="DELETE"  <%= value.productStatus === 'DELETE' ? 'selected' : '' %> >DELETE</option>
                </select>
              </td>
            </tbody>
            <% }) %>
          </table>
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              New Product
            </button>
          </div>
        </div>

        <form
          onsubmit="return validateForm()"
          action="/admin/product/create"
          method="POST"
          class="dish-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-dish-txt">NEW PRODUCT DETAIL</span>
          </div>
          <div class="login-input-frame">
            <div class="long-input">
              <label>Product Name</label>
              <input
                type="text"
                placeholder="Name"
                name="productName"
                class="product-name"
              />
            </div>
            <input
              name="productStatus"
              value="PAUSE"
              class="product-status"
              hidden
            />
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Product Price</label>
              <input
                type="number"
                placeholder="Price"
                name="productPrice"
                class="product-price"
              />
            </div>
            <div class="half-input">
              <label>Product Left Counts</label>
              <input
                type="number"
                placeholder="Counts"
                name="productLeftCount"
                class="product-left-count"
              />
            </div>
            
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Product Type</label>
              <select class="product-collection" name="productCollection">
                <option value="HOME_DOOR_PHONE" selected>Door Phone</option>
                <option value="HDCVI_CAMERAS">HDCVI Camera</option>
                <option value="VIDEO_CONFERENCE">Video Conference</option>
                <option value="ACCESSORIES">Accessories</option>
              </select>
            </div>

            <div class="half-input" id="product-collection">
              <label> Product Enviroment</label>
              <select class="product-environment" name="productEnvironment">
                <option value="INDOOR">Indoor</option>
                <option value="OUTDOOR" selected>Outdoor</option>
                <option value="EXTRA">Extra</option>
              </select>
            </div>

            <div class="half-input" id="product-usage"  style="display: none">
              <label>Product Usage</label>
              <select class="product-usage" name="productUsage">
                <option value="HOME" selected>Home</option>
                <option value="OFFICE">Office</option>
              </select>
            </div>
          </div>

          <div class="half-input-frame">
            <div class="half-input" id="product-resolution">
              <label>Product Resolution</label>
               <select  class="product-resolution" name="productResolution">
                  <option value="FHD">1080p</option>
                  <option value="QHD" selected>2K</option>
                  <option value="UHD" selected>4K</option>
                </select>
            </div>
            <div class="half-input"  id="product-storage">
              <label>Product Storage</label>
              <select name="productStorage" class="product-storage">
                <option value="CLOUD_STORAGE">Cloud Storage</option>
                <option value="ON_DEVICE_STORAGE">On Device Storage</option>
              </select>
            </div>
          </div>

          <div class="long-input">
            <div  id="product-extra-features">
              <label>Product Extra Features</label>
              <select name="productExtraFeatures" class="product-extra-features">
                <option value="NIGHT_VISION">Night Vision</option>
                <option value="TOUCHSCREEN">Touchscreen</option>
                <option value="MULTI_USER">Multi User</option>
              </select>
            </div>
          </div>

          <div class="half-input-frame">
          <div class="half-input" id="product-connectivity" >
            <label>Product Connectivity</label>
             <select  class="product-connectivity" name="productConnectivity">
                <option value="WIRED">Wired</option>
                <option value="WIRELESS">Wireless</option>
              </select>
          </div>
          <div class="half-input"  id="product-power-source">
            <label>Product Power Source</label>
            <select name="productPowerSource" class="product-power-source">
              <option value="BATTERY_POWERED">Battery Powered</option>
              <option value="AC_DC_POWER">AC-DC Power</option>
            </select>
          </div>
          
        </div>
          <div class="long-input">
            <label>Product Description</label>
            <textarea name="productDesc" class="product-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Product Images</label>
            <div class="media-frame">
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="1" id="image-section-1" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-one"
                  required
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="2" id="image-section-2" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="3" id="image-section-3" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="4" id="image-section-4" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="5" id="image-section-5" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
              <input name="restaurantIid" class="restaurant-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/products.js"></script>
</body>

<%- include('includes/footer') %>
